<!--a routerLink="/dashboard" class="list-group-item active">Inicio</a-->
<a routerLink="/dashboard" class="list-group-item">Inicio</a>
<a routerLink="/rubros" class="list-group-item">Rubros</a>
<a routerLink="/heroes" class="list-group-item">Empresas</a>
<a routerLink="/googleMap" class="list-group-item">Ubicación Geográfica</a>
<a routerLink="/googleMapFula" class="list-group-item">Ubicación Fula</a>
<a routerLink="/patologias" class="list-group-item">Patologías</a>
<a routerLink="/addHeroe" class="list-group-item">Adicionar Heroes</a>
<a routerLink="/listHeroeFireBase" class="list-group-item">Lista Persona [FireBase]</a>
<!--a routerLink="/addHeroe" class="list-group-item">Adicionar Heroes</a>
<a routerLink="/addHeroeFireBase" class="list-group-item">Adicionar Persona [FireBase]</a>
<a routerLink="/listHeroeFireBase" class="list-group-item">Lista Persona [FireBase]</a>-->

